@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Open+Sans:wght@300;400;700&family=Pirata+One&family=Shrikhand&display=swap");
@font-face {
  font-family: "Neontubes";
  src: url(../src/assets/fonts/NeonTubes2.otf) format("opentype");
}

:root {
  --mustard: #d9b700;
  --vermillion: #f82d00;
  --pink: #ffe9e9;
  --mint-green: #9ae4c0;
  --cobalt: #0019f8;
  --pale-green: #e3ffda;
  --black: #1c1313;
  --neon-text-color: yellow;
  --neon-text-shadow: 0 0 10px var(--vermillion), 0 0 20px var(--vermillion);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--cobalt);
  background-image: url("./assets/images/grid.png");
  font-family: "Open Sans", sans-serif;
}

.blue-circle {
  position: absolute;
  top: 10%;
  z-index: -1;
  width: 780px;
  height: 75vh;
  background: var(--mustard);
  background-image: linear-gradient(90deg, rgb(231, 236, 234), rgba(0,0,0,0)), url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='9.22' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  border-radius: 20px;
  box-shadow: 1px 10px 10px #13239e;
}

.prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  animation: ease-in-out 1s 1 zoomIn;
}

.prompt-text {
  font-family: "Shrikhand", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: var(--black);
  text-shadow: 1px 1px 1px var(--mustard);
  text-align: center;
  width: 90%;
  margin: auto;
  padding-top: 10%;
}

.timer {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: -40px;
  font-size: 1.5rem;
  font-weight: 700;
}

.countdown {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
  width: 270px;
  padding: 2rem;
  padding-right: 3rem;
  background-color: var(--black);
  border-radius: 10px;
}

.countdown span {
  grid-column: span 1;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Neontubes";
  color: var(--neon-text-color);
  text-shadow: var(--neon-text-shadow);

}

footer {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  background-color: var(--mint-green);
  color: var(--vermillion);
}

svg {
  width: 100%;
  height: 100%;
}

[id^="star-"] {
  transform-origin: center;
  animation: 6s ease-in-out infinite alternate pulse;
  z-index: -1;
}

#star-b-l {
  animation-delay: 1.2s;
}
#star-b-r {
  animation-delay: 2.4s;
}
#star-t-l {
  animation-delay: 3.6s;
}
#star-t-r {
  animation-delay: 4.8s;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
