@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Open+Sans:wght@300;400;700&family=Pirata+One&family=Shrikhand&display=swap');
@font-face {
  font-family: "Neontubes";
  src: url(../src/assets/fonts/NeonTubes2.otf) format("opentype");
}


:root {
  --mustard: #D9B700;
  --vermillion: #F82D00;
  --pink: #FFE9E9;
  --mint-green: #9AE4C0;
  --cobalt: #0019F8;
  --pale-green: #E3FFDA;
  --black: #1C1313;
  --neon-text-color: yellow;
  --neon-text-shadow: 0 0 10px var(--vermillion), 0 0 20px var(--vermillion);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--mint-green);
  font-family: "Open Sans", sans-serif;
}

.blue-circle {
  position: fixed;
  z-index: -1;
  width: 900px;
  height: 90vh;
  background-color: var(--cobalt);
  border-radius: 50%;
}

.prompt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

svg {
  width: 100%;
  height: 100%;
}

svg text {
  font-size: 1.1rem;
  font-family: 'Pirata One', sans-serif;
  stroke-width: 2;
  animation: animate-stroke 2s ease-in-out alternate 2;
}

svg text.prompt-body {
  font-size: 1.5rem;
  font-weight: 700;
  fill: var(--pink);
  stroke: var(--pink);
  stroke-width: 0;
}

svg text.prompt-body:hover {

  cursor: pointer;
}

.timer {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: -40px;
  font-size: 1.5rem;
  font-weight: 700;
}

.countdown {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
  width: 270px;
  padding: 2rem;
  padding-right: 3rem;
}

.countdown span {
  grid-column: span 1;
  width: 20%;
  margin: auto;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Neontubes";
  color: var(--neon-text-color);
  text-shadow: var(--neon-text-shadow);
}

footer {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  background-color: var(--mint-green);
  color: var(--vermillion);
}

@keyframes animate-stroke {
  0% {
    fill: transparent;
    stroke: var(--vermillion);
    stroke-width: 3;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 32%;
  }
  50% {
    fill: transparent;
    stroke: var(--vermillion);
    stroke-width: 3;
  }
  80%,
  100% {
    fill: var(--vermillion);
    stroke: transparent;
    stroke-width: 0;
    stroke-dashoffset: -25%;
    stroke-dasharray: 32% 0;
  }
}