@font-face {
  font-family: "Neontubes";
  src: url(../src/assets/fonts/NeonTubes2.otf) format("opentype");
}

:root {
  --mustard: #D9B700;
  --vermillion: #F82D00;
  --pink: #FFE9E9;
  --mint-green: #9AE4C0;
  --cobalt: #0019F8;
  --pale-green: #E3FFDA;
  --black: #1C1313;
  --neon-text-color: yellow;
  --neon-text-shadow: 0 0 10px var(--vermillion), 0 0 20px var(--vermillion);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFFFE950;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.pink-circle {
  position: absolute;
  z-index: -1;
  width: 800px;
  height: 600px;
  background-color: var(--pink);
  border-radius: 50%;
  margin: auto;
  top: 0;
}

.prompt {
  font-size: 1.5rem;
  font-weight: 700;
}

.prompt-title {
  font-family: "Neontubes";
  font-size: 2rem;
  font-weight: 700;
  color: var(--neon-text-color);
  text-shadow: var(--neon-text-shadow);
}

.timer {
  font-size: 1.5rem;
  font-weight: 700;
}

.countdown {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Neontubes";
  color: var(--neon-text-color);
  text-shadow: var(--neon-text-shadow);
}

footer {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  background-color: var(--mint-green);
  color: var(--vermillion);
}